<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">4NGeHQ44y271</property>
        <property name="hibernate.connection.url">jdbc:postgresql://cloudias79.com:5545/multitech_bookrecipe</property>
        <property name="hibernate.connection.username">usrmultitech</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">none</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="com.tujuhsembilan.bookrecipe.newmodel.Levels"/>
        <mapping class="com.tujuhsembilan.bookrecipe.newmodel.FavoriteFoods"/>
        <mapping class="com.tujuhsembilan.bookrecipe.newmodel.Recipes"/>
        <mapping class="com.tujuhsembilan.bookrecipe.newmodel.Users"/>
        <mapping class="com.tujuhsembilan.bookrecipe.newmodel.Categories"/>
    </session-factory>
</hibernate-configuration>
